<div class="wrapper">
  <h1>Countdown!</h1>
  <ul>
    <% @letters.each do |letter| %>
      <li><%= letter %></li>
    <% end %>
  </ul>

  <% time = Time.new %>
  <p><%= Time.new %></p>

  <form action="/score" method="POST">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :letters, @letters %>
    <%= hidden_field_tag :timestamp, time %>
    <input type="text" name="answer" id="form">
    <input type="submit" value="Post answer" class="input-btn">
  </form>
</div>
